body
{
	background-image: url("../img/3.png");	
	background-size:cover; 
}
.bg1
{
	background-image: url("../img/3.png");	
}

.top
{
	height: 70px;
	font-size:50px;
	text-align:center;
	box-shadow:0px 2px 8px black;
	background-color: #565656;
  	text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  	-webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text; 
}
.c2w
{
	text-decoration: none;
	color: transparent;
}
.c2w:hover
{
	text-decoration:none;
	color: transparent;
}

.divider
{
	height: 75px;
}

.des
{
	font-size: 23px;
	margin:120px 10px 10px 10px;
	color: #666666;
	text-align: center;
}
.a1
{
	font-size:50px;
	color:#28aacc;
}

.title
{
	font-size:35px;
	text-align: center;
	margin: 5px;
}

.t1
{
	min-height: .01%;
	overflow-x: auto;
	background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
}

.t2
{
	font-size:20px;
}

.field
{
	/* float:right; */
	background-color: rgba(255,255,255,0.3);
	font-size:20px;
	margin:0 auto;
	width: 440px;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 20px;
}

.input
{
	width: 200px;
	float: right;
	margin:5px;
	font-family: "lato light", "HelveticaNeue-Light",
		"Helvetica Neuse Light", "Helvetica Neue", Helvetica, Arial,
		"Lucida Grande", sans-serif;
	font-size: 20px;
	color: #4a4742; /*9d9e9e*/
	border-top: 0px solid #fff;
	border-left: 0px solid #fff;
	border-right: 0px solid #fff;
	border-bottom: 1px solid #e2e2e2;
	border-radius: 0px;
	background: none;
}
.input:focus
{
	/* color: #28aacc; */
	border-bottom: 1px solid #28aacc;
	outline: none;
}

.login-submit {
	display: block;
	margin-left: 100%;
	width: 100px;
	height: 40px;
	font-size: 20px;
	color: #797979;
	border-radius: 10px;
	border-bottom: 2px solid #e2e2e2;
	border-right: 2px solid #e2e2e2;
	background: url(../images/submit.png) no-repeat;
}

.login-submit:hover {
	color: #4a4742;
	border-bottom: 2px solid #28aacc;
	border-right: 2px solid #28aacc;
}


@media (max-width: 430px) {
	.top
	{
		height: 70px;
		font-size:40px;
	}
	.t2
	{
		display: none;
	}
	
	.des
	{
		font-size: 18px;
		margin:10px 5px 5px 5px;
		color: #666666;
		text-align: center;
	}
	.a1
	{
		font-size:30px;
		color:#28aacc;
	}
	.title
	{
		font-size:27px;
		text-align: center;
		margin: 3px;
	}
	.field
	{
		/* float:right; */
		width: 95%;
	}
	.input
	{
		font-size:16px;
		width: 98%;
		float: none;
	}
	.login-submit 
	{
		margin-left: 32%;
	}
	
}

